body, html{
    min-height: 100%;
    min-width: 100%;
    padding: 1em;
}

.btn{
    margin: 5px;
    vertical-align: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#focusBtn{
    vertical-align: center;
    position: relative;
    size: 100% 100%;
    color: blue;
    background-image: url("http://web.mit.edu/anvishap/www/refocus/focus.png");
  background-size: 90px auto;
  background-position: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #0066cc;
  
}


#topBar{
	text-align:center;

    position: fixed;
    top: 0px;
    left: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 50000;

  /*border-width: 1px;
  border-color: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
*/
}

.modal{
    background-color: rgba(255, 255, 255, 0.8) !important;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -15% !important; */
    position: absolute;
}

.modal-header{
    margin-top: 2em;
    margin-bottom: 3em;
}

.modal-body{
    margin: .5em !important;
}

.modal-footer{
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.0) !important;
}

#modalContent{
    text-align: justify;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    font-family: arial; 
    font-size: 20px !important;
}

#modalContent p{
    text-align: justify;
    line-height: 1.5em;
    margin-left: 2em;
    margin-right: 2em;
    font-family: arial; 
    font-size: 20px !important;
}

#proglist{
	position: fixed;
}

#cont-list{
	list-style-type: none;
  margin: 0px 0px 0px 20px;
}

.refocus-logo{

    background-image: url('http://web.mit.edu/anvishap/www/refocus.png');
    height: 50px;
    width: 100%;
    position: relative;
    top: 0px;
    background-size: auto 60px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    border-bottom: none;
    left: -2px;
}

.progbar{

    font-family: Georgia, Helvetica, Arial, sans-serif;
    top: 0px;
    padding-top: 0px;
    z-index: 10000;
    position: absolute;
    right: 0px;
    float: right;
    height:100%;
    width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
  padding-left: 2px;
  padding-right: 2px;

}

.progbar-header{
  position: absolute;
  top: 55px;
  width: 97%;

}

.progbar-content{
    position: absolute;
    top: 100px;
    width: 97%;
    height: 90%;
    overflow: scroll;
}

.text-center{
    font-family: Georgia, Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    color: grey;
    font-weight: 2pt;
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.text-center-smaller{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
    text-align: center;
}

.drag-links-here:hover{
    /*border-style: dashed;
    border-width: 2px;*/
    border-style: none;

}

.hide-arrow, .hide-arrow:visited{
    background-image: url('http://web.mit.edu/anvishap/www/refocus/grey_hide_arrow.png') ;
    position: relative;
    background-size: 50px auto;
    background-position: center;
    background-repeat: no-repeat;
  width: 20px;
  left: 0px;
  top: 0px;
  height: 90%;
  z-index: 60000;
    vertical-align: auto;

}

.hide-arrow:hover{
    background-image: url('http://web.mit.edu/anvishap/www/refocus/grey_hide_arrow.png') ;
    background-color: white;

}

.hidden{
	display:none;
}

.progitem{
	position: relative;
	width: 90%;
}

.clear-completed{
    position: relative;
    top: -20%;
}

.checkbox-div{
  width: 10px;
  margin-right: 5px;
  height: 10px;
}

.linkitem{
  position: relative;
  top: -10px;
  left: 25px;
  width: 220px;
}

.xbtn-div{
  position: relative;
  top: -10px;
  left: 20px;
}

#article{
    position: relative;
    top: 10px;
    overflow: auto;
}

.activelink{  
	font-weight:bold;
}

.error{
  color: red;
}

#supported{
  position: absolute;
  bottom: 0;
  text-align: center;
}
