body, html{
    min-height: 100%;
    min-width: 100%;
    padding: 1em;
}

.btn{
    margin: 5px;
    vertical-align: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#focusBtn{
    vertical-align: center;
    position: relative;
    size: 100% 100%;
    color: blue;
    background-image: url("http://web.mit.edu/anvishap/www/refocus/focus.png");
  background-size: 90px auto;
  background-position: center;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #0066cc;
  
}


#topBar{
	text-align:center;
      position: fixed;
    top: 0px;
    left: 40%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    z-index: 50000;

  /*border-width: 1px;
  border-color: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
*/
}

.modal{
    background-color: rgba(255, 255, 255, 0.8) !important;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: -15% !important; */
    position: absolute;

}

.modal-header{
    margin-top: 2em;
    margin-bottom: 3em;
}

.modal-body{
    margin: .5em !important;
}

.modal-footer{
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.0) !important;
}

#modalContent{
    text-align: justify;
    line-height: 1.3em;
    margin-left: 15px;
    margin-right: 15px;
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 20px !important;
    word-spacing: -2px;
}

#proglist{
	position: fixed;
}

#cont-list{
	list-style-type: none;
  margin: 0px 0px 0px 20px;
}

.refocus-logo{

    background-image: url('http://web.mit.edu/anvishap/www/refocus.png');
    height: 50px;
    width: 100%;
    position: relative;
    top: 0px;
    background-size: auto 60px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5px;
    border-bottom: none;
    left: -2px;
}

.progbar{

    font-family: Georgia, Helvetica, Arial, sans-serif;
    font-size: 15px;
    top: 0px;
    padding-top: 0px;
    z-index: 10000;
    position: absolute;
    right: 0px;
    float: right;
    height:100%;
    width: 300px;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
  padding-left: 2px;
  padding-right: 2px;

}

.progbar-header{
  position: absolute;
  top: 55px;
  width: 97%;

}

.progbar-content{
    position: absolute;
    top: 100px;
    width: 97%;
    height: 90%;
    overflow: scroll;
}

.text-center{
    font-family: Georgia, Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: grey;
    font-weight: 2pt;
    font-style: italic;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.text-center-smaller{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
    text-align: center;
}

.drag-links-here:hover{
    /*border-style: dashed;
    border-width: 2px;*/
    border-style: none;

}



.hide-arrow, .hide-arrow:visited{
    background-image: url('http://web.mit.edu/anvishap/www/refocus/grey_hide_arrow.png') ;
    position: relative;
    background-size: 50px auto;
    background-position: center;
    background-repeat: no-repeat;
  width: 20px;
  left: 0px;
  top: 0px;
  height: 90%;
  z-index: 60000;
    vertical-align: auto;

}

.hide-arrow:hover{
    background-image: url('http://web.mit.edu/anvishap/www/refocus/grey_hide_arrow.png') ;
    background-color: white;

}

.hidden{
	display:none;
}

.progitem{
	position: relative;
	width: 90%;
  line-height: 20px;
  font-size: 15px;
}

.clear-completed{
    position: relative;
    top: -20%;
    left: 10px;
}

.help-text{
  position: relative;
  top: -30px;
  left: 220px;
}

.checkbox-div{
  width: 10px;
  margin-right: 5px;
  height: 10px;
}

.linkitem{
  position: relative;
  top: -10px;
  left: 25px;
  width: 220px;
}

.xbtn-div{
  position: relative;
  top: -10px;
  left: 20px;
}

#article{
    position: relative;
    top: 10px;
    overflow: auto;
}

.activelink{  
	font-weight:bold;
}

.error{
  color: red;
}

#supported{
  position: absolute;
  bottom: 0;
  text-align: center;
}

/*Yo*/

#article nav{background-color:#eee;border-bottom:1px solid #f4f4f4;margin:0 0 30px 0;position:relative;z-index:200}
#article nav .row{position:relative}
#article nav .nav-inner{border-bottom:1px solid #e0e0e0}
#article nav ul,#article nav li{list-style:none;float:left;margin:0}
#article nav ul{margin-left:1px}
#article nav li #navbar-home{width:62px}
#article nav li #navbar-home .nav-item-name{background:url('/static/images/base/ico-house.png') no-repeat center center;font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;height:18px}
#article nav li:first-child a{border-left:none}#article nav li a{border-left:1px solid #e0e0e0;color:#303030;display:block;font:700 13px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;position:relative;text-decoration:none;text-transform:uppercase;-webkit-transition:background .12s ease-in-out;-moz-transition:background .12s ease-in-out;-ms-transition:background .12s ease-in-out;-o-transition:background .12s ease-in-out;transition:background .12s ease-in-out;z-index:200}#article nav li a:hover{background:#fff;color:#303030;text-decoration:none}#article nav li .nav-item-name{padding:8px 11px}#article nav li .no-case{text-transform:none}#article nav li .nav-item-topic-color{position:absolute;top:0;left:0;height:3px;width:100%;z-index:2;opacity:0;filter:alpha(opacity=0);-ms-filter:alpha(opacity=0);filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity:0;opacity:0;-webkit-transition:opacity .12s ease-in-out;-moz-transition:opacity .12s ease-in-out;-ms-transition:opacity .12s ease-in-out;-o-transition:opacity .12s ease-in-out;transition:opacity .12s ease-in-out}#article nav li a:hover .nav-item-topic-color{opacity:1;filter:alpha(opacity=100);-ms-filter:alpha(opacity=100);filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}#article nav li.is-selected .nav-item-topic-color{opacity:1;filter:alpha(opacity=100);-ms-filter:alpha(opacity=100);filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}#article nav li.is-selected a{background-color:#fff}#nav-right{position:absolute;top:0;right:0;z-index:200}#navbar-newsletter{border-left:1px solid #e0e0e0;position:relative;text-align:center;width:153px;z-index:200}#navbar-newsletter .nav-item-topic-color{background-color:#59595d}#navbar-newsletter .nav-item-name{font:400 13px open-sans-n4,open-sans-n4,open-sans,Helvetica,Arial,sans-serif}#navbar-newsletter.hover a{background-color:#fff}#navbar-newsletter.hover .nav-item-topic-color{opacity:1;filter:alpha(opacity=100);-ms-filter:alpha(opacity=100);filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}#navbar-newsletter .sprite-base-newsletter-icon{float:left;margin-top:4px}#navbar-newsletter .sprite-base-dropdown-icon{float:right;margin-top:7px;*margin:-19px 12px 0 0}#navbar-newsletter .popover{background:#fff;border:1px solid #e0e0e0;-webkit-box-shadow:4px 4px 4px #b9b9b9;-moz-box-shadow:4px 4px 4px #b9b9b9;box-shadow:4px 4px 4px #b9b9b9;display:none;left:-75px;padding:20px 40px;position:absolute;text-align:center;top:33px;width:236px;z-index:199}#navbar-newsletter .popover .done-msgbox{display:none}#navbar-newsletter .popover .title{font:bold 16px "ff-meta-serif-web-pro",Georgia,"Times New Roman",Times,serif;margin-bottom:10px;text-align:center}#navbar-newsletter .popover .done-text{font:15px Georgia,"Times New Roman",Times,serif;margin-bottom:20px}#navbar-newsletter .popover .done-text .done-email-address{font-weight:bold;margin-bottom:0}#navbar-newsletter .popover .email-text{border:1px solid #b9b9b9;-webkit-box-shadow:inset 2px 2px 2px 0 #ddd;-moz-box-shadow:inset 2px 2px 2px 0 #ddd;box-shadow:inset 2px 2px 2px 0 #ddd;display:block;color:#808080;font:13px open-sans-n4,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;padding-left:10px;width:216px;margin:0 auto 10px auto}#navbar-newsletter .popover .entered-email-text{color:#333}#navbar-newsletter .popover .email-validate{border:2px solid #dc5555}#navbar-newsletter .popover button{background-color:#333;border-radius:3px;border-style:none;color:#fff;display:block;font:700 13px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;height:36px;margin:0 auto 10px auto;width:232px}#navbar-newsletter .popover button span{border-bottom:1px dotted #7b7b7b}#navbar-newsletter .popover button .sprite-base-tick-icon{display:inline-block;*display:inline;*zoom:1;margin-right:3px;vertical-align:-2px}#navbar-newsletter .popover button:hover{background-color:#000}#navbar-newsletter .popover .footer{color:#808080;font:12px Georgia,"Times New Roman",Times,serif;text-align:center}#navbar-search{text-align:center;width:93px}#navbar-search .nav-item-topic-color{background-color:#59595d}#navbar-search .nav-item-name{font:400 13px open-sans-n4,open-sans-n4,open-sans,Helvetica,Arial,sans-serif}#navbar-search .sprite-base-menu-search-icon{float:left;margin-top:2px}.outer-second-level-nav-wrapper{-webkit-box-shadow:inset 0 -1px 0 #e2e2e2;-moz-box-shadow:inset 0 -1px 0 #e2e2e2;box-shadow:inset 0 -1px 0 #e2e2e2;margin-bottom:32px;overflow:auto;background-color:#fafafa;background-image:-moz-linear-gradient(top,#fff,#f2f2f2);background-image:-ms-linear-gradient(top,#fff,#f2f2f2);background-image:-webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));background-image:-webkit-linear-gradient(top,#fff,#f2f2f2);background-image:-o-linear-gradient(top,#fff,#f2f2f2);background-image:linear-gradient(top,#fff,#f2f2f2);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f2f2f2',GradientType=0)}.outer-second-level-nav-wrapper .second-level-nav-wrapper{float:right;position:relative;left:-50%;margin-top:10px;text-align:left}.outer-second-level-nav-wrapper .second-level-nav-wrapper ul.second-level-nav{margin:0 53px 0 53px;left:50%;list-style:none;overflow:auto;position:relative}.outer-second-level-nav-wrapper .second-level-nav-wrapper ul.second-level-nav li{float:left;margin-bottom:0;position:relative}.outer-second-level-nav-wrapper .second-level-nav-wrapper ul.second-level-nav li.active a{color:#333;background:white;border-left:1px solid #e2e2e2;border-right:1px solid #e2e2e2;-webkit-box-shadow:0 0 9px #c9c9c9;-moz-box-shadow:0 0 9px #c9c9c9;box-shadow:0 0 9px #c9c9c9;padding:18px 26px 20px 26px}.outer-second-level-nav-wrapper .second-level-nav-wrapper ul.second-level-nav li.active a .nav-item-topic-color-bar{height:3px;width:100%;position:absolute;left:0;top:0}.outer-second-level-nav-wrapper .second-level-nav-wrapper ul.second-level-nav li a{color:#676767;display:block;font-size:24px;font-family:"ff-meta-serif-web-pro",Georgia,"Times New Roman",Times,serif;font-weight:;padding:18px 27px 20px 27px;line-height:14px;margin:8px 12px 0 12px;position:relative;text-decoration:none}.outer-second-level-nav-wrapper .second-level-nav-wrapper ul.second-level-nav li a:hover{color:#333}.promise-and-support-boxes .span6{border-bottom:1px solid #c8c8c8;border-left:1px solid #c8c8c8;margin:0;padding-left:29px;width:439px}.promise-and-support-boxes .span6:first-child{border-left:0;margin-left:20px;padding-left:0;width:470px}.promise-and-support-boxes h2{color:#333;font:700 13px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;margin:0!important;padding:36px 0 18px 0;text-transform:uppercase}.promise-and-support-boxes h2 a{border-bottom:0;color:#333}.promise-and-support-boxes h2 a:hover{border-bottom:0;text-decoration:none}.promise-and-support-boxes img{display:block;float:left;margin:0;padding:0 30px 36px 0;width:130px}.promise-and-support-boxes .text{display:block;float:left;font:300 14px open-sans-n3,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;line-height:1.6em;width:268px}.promise-and-support-boxes .text a{border-bottom:1px dotted #333;color:#333}.promise-and-support-boxes .text a:hover{border-bottom:1px solid #000;color:#000;text-decoration:none}#article footer{background:url('/static/images/footer/footer-bg.png') #343539 repeat-x;color:#fff;font:12px open-sans-n4,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;padding:60px 0}#article footer.top-margin{margin-top:40px}#article footer .row{margin-left:0}#article footer [class*="span"]{margin-left:0}#article footer a{color:#fff}#article footer a:hover{color:#aeaeae;text-decoration:underline}#article footer a:hover img{opacity:.7;filter:alpha(opacity=70);-ms-filter:alpha(opacity=70);filter:alpha(opacity=70);-moz-opacity:.7;-khtml-opacity:.7;opacity:.7}#article footer ul{list-style:none;margin-left:0}#article footer .footer-logo{margin-left:-10px;padding-bottom:20px}#article footer h3{border:0;display:block;line-height:1em;margin:0;text-transform:uppercase;font:bold 12px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif}#article footer h3 a:hover{text-decoration:none}#article footer .separator{margin-top:15px}#article footer .top-row{height:340px;overflow:hidden}#article footer .top-row h3{height:25px}#article footer .bottom-row{height:180px;padding-bottom:30px;overflow:hidden}#article footer .bottom-row h3{margin-top:22px}#article footer .span-main-menu{border-bottom:1px solid #3f4043;-webkit-box-shadow:inset -1px -1px 0 #2a2e2e;-moz-box-shadow:inset -1px -1px 0 #2a2e2e;box-shadow:inset -1px -1px 0 #2a2e2e;float:left;font:700 12px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;height:551px;text-transform:uppercase;width:155px}#article footer .span-main-menu a:hover{text-decoration:none}#article footer .span-main-menu ul{padding-bottom:15px}#article footer .span-main-menu ul li:first-child{background:no-repeat url('/static/images/footer/footer-underline-strong.png') bottom left}#article footer .span-main-menu ul li{background:no-repeat url('/static/images/footer/footer-underline.png') bottom left;font:700 12px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;line-height:1em;margin-bottom:10px;padding-bottom:5px}#article footer .span-main-menu .social-media-entity{*zoom:1;display:block;margin-bottom:15px}#article footer .span-main-menu .social-media-entity:before,#article footer .span-main-menu .social-media-entity:after{display:table;content:""}#article footer .span-main-menu .social-media-entity:after{clear:both}#article footer .span-main-menu .social-media-entity .icon{float:left;margin-right:11px}#article footer .span-main-menu .social-media-entity .facebook-like-button,#article footer .span-main-menu .social-media-entity .google-plus-icon,#article footer .span-main-menu .social-media-entity .pinterest-follow-button,#article footer .span-main-menu .social-media-entity .twitter-follow-button{display:block;float:left}#article footer .span-main-menu .social-media-entity .facebook-like-button,#article footer .span-main-menu .social-media-entity .pinterest-follow-button{margin-top:3px}#article footer .span-main-menu .social-media-entity .google-plus-icon{margin-top:2px}#article footer .span-right-section{float:left;width:785px}#article footer .span-common-block{border-bottom:1px solid #3f4043;border-left:1px solid #3f4043;float:left;padding-left:24px;padding-right:24px}#article footer .span-topic-block{-webkit-box-shadow:inset -1px -1px 0 #2a2e2e;-moz-box-shadow:inset -1px -1px 0 #2a2e2e;box-shadow:inset -1px -1px 0 #2a2e2e;border-bottom:1px solid #3f4043;border-left:1px solid #3f4043;float:left;padding-left:24px;padding-right:24px;width:108px}#article footer .span-topic-block .top-image{display:block}#article footer .span-topic-block:last-child{-webkit-box-shadow:inset 0 -1px #2a2e2e;-moz-box-shadow:inset 0 -1px #2a2e2e;box-shadow:inset 0 -1px #2a2e2e}#article footer .span-photojournalism-block{-webkit-box-shadow:inset -1px -1px 0 #2a2e2e;-moz-box-shadow:inset -1px -1px 0 #2a2e2e;box-shadow:inset -1px -1px 0 #2a2e2e;border-bottom:1px solid #3f4043;border-left:1px solid #3f4043;float:left;padding-left:24px;padding-right:24px;width:422px}#article footer .span-photojournalism-block .photo-row .photo{display:block;float:left;margin-top:14px;width:108px}#article footer .span-photojournalism-block .photo-row .photo img{display:block;height:67px;margin-bottom:15px;width:108px}#article footer .span-photojournalism-block .photo-row .spacing{margin-right:48px}#bottom-footer{color:#666;margin-top:25px;text-transform:none}#bottom-footer a,#bottom-footer small{color:#666;display:block;float:left;margin-right:20px}#bottom-footer a:hover{color:#ccc}#bottom-footer .more-stories{float:right;font:700 12px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif}#bottom-footer .more-stories a{-webkit-transition:all .12s ease-in-out;-moz-transition:all .12s ease-in-out;-ms-transition:all .12s ease-in-out;-o-transition:all .12s ease-in-out;transition:all .12s ease-in-out;border:1px solid #444549;color:#fff;display:inline-block;margin:0 18px;padding:3px 9px;text-transform:uppercase}#bottom-footer .more-stories a:hover{background-color:#48494c;border-color:#68696b;text-decoration:none}.read-later-popover .popover-inner{padding:0!important;height:auto!important;width:306px!important}.read-later-popover .popover-inner .read-later-row{*zoom:1;padding-bottom:15px}.read-later-popover .popover-inner .read-later-row:before,.read-later-popover .popover-inner .read-later-row:after{display:table;content:""}.read-later-popover .popover-inner .read-later-row:after{clear:both}.read-later-popover .popover-inner .first-item{float:left;padding-left:20px;text-align:left;vertical-align:bottom;width:126px}.read-later-popover .popover-inner .rdbWrapper{float:left}.read-later-popover h3{font:15.5px "ff-meta-serif-web-pro",Georgia,"Times New Roman",Times,serif;margin:0;padding:10px 0!important}.read-later-popover .menuitem{font:14px Georgia,"Times New Roman",Times,serif;margin-top:18px;padding-left:42px;text-align:left}.read-later-popover .menuitem a{color:#333}.read-later-popover .menuitem a.dotted{border-bottom:1px dotted #333;font-style:italic}.read-later-popover .menuitem a:hover{text-decoration:none}.read-later-popover .menuitem a img{padding-right:17px}.modal .modal-header h3{border-bottom:0}.icons{margin-top:21px}.icons .comments,.icons .share,.icons .readlater,.icons .listen,.icons .open-slideshow{background-position:left center;background-repeat:no-repeat;color:#333;display:block;float:left;font:bold 12px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif;margin-right:12px;padding-left:20px;text-decoration:none;line-height:16px;-webkit-transition:all .12s ease-in-out;-moz-transition:all .12s ease-in-out;-ms-transition:all .12s ease-in-out;-o-transition:all .12s ease-in-out;transition:all .12s ease-in-out}.icons .comments:hover,.icons .share:hover,.icons .readlater:hover,.icons .listen:hover,.icons .open-slideshow:hover{opacity:.7;filter:alpha(opacity=70);-ms-filter:alpha(opacity=70);filter:alpha(opacity=70);-moz-opacity:.7;-khtml-opacity:.7;opacity:.7}.icons .comments{background-image:url("/static/images/ico/ico-comments.png");margin-right:0}.icons .share{background-image:url("/static/images/ico/ico-share.png")}.icons .readlater{background-image:url("/static/images/ico/ico-readlater.png")}.icons .open-slideshow{background-image:url("/static/images/story/ico-slideshow.png");margin-left:12px}.inline-icons{display:inline;padding-left:5px}.inline-icons a,.inline-icons .audio,.inline-icons .listen,.inline-icons .photoessay,.inline-icons .photoset,.inline-icons .video{border:0;display:inline-block;*display:inline;*zoom:1;margin:1px 1px 1px 5px}.inline-icons .audio{background:url('/static/sprites_1.png') no-repeat;background-position:0 -891px;height:12px;width:17px}.inline-icons .listen{background:url('/static/sprites_1.png') no-repeat;background-position:0 -842px;height:13px;width:15px}.inline-icons .photoessay{background:url('/static/sprites_1.png') no-repeat;background-position:0 -916px;height:12px;width:15px}.inline-icons .photoset{padding-bottom:0;background:url('/static/sprites_1.png') no-repeat;background-position:0 -1196px;height:12px;width:15px}.inline-icons .video{background:url('/static/sprites_1.png') no-repeat;background-position:0 -1051px;height:11px;width:17px}.long-horizontal-subscribe-form-section #mail-icon{margin:2px 20px 10px 0}.long-horizontal-subscribe-form-section #long-horizontal-subscribe-form{margin-bottom:10px}.long-horizontal-subscribe-form-section #long-horizontal-subscribe-form #appendedInputButton{width:162px;margin-bottom:0}.long-horizontal-subscribe-form-section #long-horizontal-subscribe-form button{font-size:12px;line-height:38px;margin-bottom:0;padding:0 13px;padding:0 10px\9}#story .inline-icons a,#story .inline-icons .audio,#story .inline-icons .listen,#story .inline-icons .photoessay,#story .inline-icons .photoset,#story .inline-icons .video{vertical-align:1px}div.ppt p{color:white;font-size:11px;margin-bottom:0;color:#5a5a5a;text-transform:uppercase}.pp_description{font-family:Georgia,"Times New Roman",Times,serif;font-style:italic}div.dark_rounded .currentTextHolder,div.dark_square .currentTextHolder{margin-top:-2px}[class*="-icon"]{display:inline-block;*display:inline;*zoom:1;vertical-align:middle}.switch-mobile-icon{display:block;float:left;margin-right:6px;margin-top:-2px;opacity:.6;filter:alpha(opacity=60);-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);-moz-opacity:.6;-khtml-opacity:.6;opacity:.6}a:hover .switch-mobile-icon{opacity:1;filter:alpha(opacity=100);-ms-filter:alpha(opacity=100);filter:alpha(opacity=100);-moz-opacity:1;-khtml-opacity:1;opacity:1}.container form label,.modal form label{font:700 14px open-sans-n7,open-sans-n4,open-sans,Helvetica,Arial,sans-serif}.container form input,.modal form input,.container form textarea,.modal form textarea{-webkit-box-shadow:inset 1px 1px 3px rgba(55,55,55,0.2);-moz-box-shadow:inset 1px 1px 3px rgba(55,55,55,0.2);box-shadow:inset 1px 1px 3px rgba(55,55,55,0.2);border-color:#d6d6d6;font-size:13px;margin-bottom:25px;padding:10px 15px}.container form .input-prepend input,.modal form .input-prepend input{margin-bottom:0}
