body, html{
    min-height: 100%;
    min-width: 100%;
    padding: 1em;
}

.btn{
    margin: 5px;
    vertical-align: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#topBar{
	text-align:center;
}

.modal{
    background-color: rgba(255, 255, 255, 0.8) !important;
    width: 70%;
    margin-top: -15% !important;
}

.modal-header{
    margin-top: 2em;
    margin-bottom: 3em;
}

.modal-body{
    margin: .5em !important;
}

.modal-footer{
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.0) !important;
}

#modalContent{
    text-align: justify;
    line-height: 1.5em;
    font-size: 150%;
    margin-left: 2em;
    margin-right: 2em;
}

#proglist{
	position: fixed;
}

#cont-list{
	list-style-type: none;
}

.progbar{
    z-index: 50000;
    position: absolute;
    right: 0px;
    float: right;
    height:100%;
    width: 25%;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
}

.hidden{
	display:none;
}

.progitem{
	position: relative;
	width: 90%;
}


#article{
    position: absolute;
    width: 75%;
    overflow: auto;
}

.activelink{
	font-weight:bold;
}