body, html{
    min-height: 100%;
    min-width: 100%;
    padding: 1em;
}

.btn{
    margin: 5px;
    vertical-align: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
}

#topBar{
	text-align:center;
}

.modal{
    background-color: rgba(255, 255, 255, 0.8) !important;
    width: 70%;
    margin-top: -15% !important;
}

.modal-header{
    margin-top: 2em;
    margin-bottom: 3em;
}

.modal-body{
    margin: .5em !important;
}

.modal-footer{
    padding: .2em;
    background-color: rgba(255, 255, 255, 0.0) !important;
}

#modalContent{
    text-align: justify;
    line-height: 1.5em;
    font-size: 150%;
    margin-left: 2em;
    margin-right: 2em;
}

#proglist{
	position: fixed;
}

.progbar{
	width:20%;
	height:100%; 
}

.hidden{
	display:none;
}